header
{   letter-spacing: 5px;
    font-size: large;
    font-style: "Times New Roman", Times, serif;
    color: antiquewhite;
}

.background
{   
    background-image: url("/images/littlev.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

body
{
    text-align: center;
}

nav
{
    text-transform: uppercase;
    margin-right: 30 px;
    word-spacing: 2cm;
    text-align: center;
    display: inline-block;
}

form 
{
    background-color: antiquewhite;
    border: 1px solid rgb(250, 227, 99);
    width: max-content;
    padding: 5px;
    margin: 30px auto;
    border-radius: 10px;
    font-size: 20px;
}
  
form h2
{
     font-style:"Times New Roman", Times, serif ;
     color: brown;
}

label
{
    color: brown;
}

input
{

    display: inline-block;
    margin: 10px;
    padding: 5px;
}

input[type="submit"]
{
    background-color: rgb(230, 170, 81);
    color: brown;
    border: none;
    border-radius: 15px;
    padding: 10px;
}